@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
    font-family: "Poppins", sans-serif;
    background-color: #4b0082; /* your dark purple */
    color: #fff; /* light text to contrast */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    /* text-decoration: none; */
    color: #fff;
}

button {
    background-color: #fff;
    color: #4b0082;
    margin: 20px auto;
    display: block;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}
ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
li {
    list-style: none;
}
li a {
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 8px 10px;
    border-radius: 5px;
    text-align: center;
}
